{% extends "base.html" %}
{% load static %}

{% block title %}
My Blog
{% endblock %}

{% block css_files %}
    <link rel = "stylesheet" href = {% static "blog/post.css" %}/>
    <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}


<section id="welcome">
    <header>
        <img src="{% static "blog/images/unknown-man.jpg" %}" alt="Yasin - The author of this Blog"/>
        <h2>Yasin's Blog</h2>
    </header>
    <p>Hi, I am Yasin Rahmanian and this is my personal Blog. Hope you guys enjoy!</p>
</section>

<section id="latest-posts">
    <h2>My latest posts</h2>

    <ul>
        {% for post in posts  %}
            {% include "blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section>
a
<section id="about">
    <h2>What I Do</h2>
    <h2>Welcome to My World of Coding and Exploration!</h2>
    <p>Hello and welcome! My name is Yasin, and I'm a passionate university student with a deep love for coding and programming. In my free time, you'll often find me immersed in the world of algorithms, languages, and problem-solving.</p>   
</section>

{% endblock  %}